<p id="notice"><%= notice %></p>

<div class="topic_content">
  <h2><%= @topic.title %></h2>
  <p>
    <%= @topic.description %>
  </p>
<div>

<%= link_to 'Edit', edit_topic_path(@topic), class: "btn btn-primary" %> |
<%= link_to 'Back', topics_path, class: "btn btn-primary" %>
