<!DOCTYPE html>
<html>
  <head>
    <title>Suggestotron</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "common/navbar" %>

    <div class="container">
      <% close_button = content_tag(:a, "x", class: "close", "data-dismiss" => "alert") %>
      <%= content_tag(:div, close_button + notice, class: "alert alert-info") if notice %>
      <%= content_tag(:div, close_button + alert, class: "alert alert-danger") if alert %>

      <%= yield %>

      <%= render "common/footer" %>
    </div>
  </body>
</html>
